@model IEnumerable<WebApplication1.Models.Wandeling>

@{
    ViewBag.Title = "BookTour";
}

<div class="row">
    <div id="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="jazztitle">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Historic Haarlem - book a ticket</h2>
                                <p>On this page you can make a reservation for a Historic Haarlem Tour. Pick a day and a time, and select the amount of ticktets you would like.</p>
                            </div>
                            <div class="col-md-2">
                                <img src="~/images/historic_haarlem_book/top_img_1_u18.jpg" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <img src="~/images/historic_haarlem_book/top_img_2_u17.jpg" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <img src="~/images/historic_haarlem_book/top_img_3_u16.jpg" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="contentbreak">
                        <div class="col-md-8 col-md-offset-3">
                            <img src="~/images/historic_haarlem_book/u150.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
