@model IEnumerable<WebApplication1.Models.Wandeling>

@{
    ViewBag.Title = "BookTour";
}

<h1>Book your tour</h1>

<div class="row">
    <div id="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="jazztitle">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Historic Haarlem</h2>
                                <p>Welcome on the Historic Haarlem page, here you will find information about the historic tour through Haarlem. Here you will find information about: the locations, the available days and the available languages.</p>
                            </div>
                            <div class="col-md-2">
                                <img src="~/images/historic_haarlem_book/top_img_1_u18.jpg" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <img src="~/images/historic_haarlem_book/top_img_2_u17.jpg" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <img src="~/images/historic_haarlem_book/top_img_3_u16.jpg" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>

                <div><h1>-------------------------------------------------------------------------------------------------</h1></div>

                <div class="row">
                    <div id="contentbreak">
                        <div class="col-md-8 col-md-offset-3">
                            <img src="~/images/historic_haarlem_book/u150.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
