@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="content-block">
        <div class="container">
            <div class="row">
                <div id="panels">
                    <div class="col-md-3">
                        <div class="informatie-blok" id="indexblok">
                            <img src="~/images/home/patronaat.png" />
                            <h3>Jazz@Patronaat</h3>
                            <p>
                                Over 18 band are performing at Jazz@Patronaat. The first 3 days are in the Patronaat spread over 2 halls, on Sunday this event will take place at the Grote Markt in the centre of Haarlem.
                            </p>
                            <button>
                                @Html.ActionLink("More info", "Index", "Concerts")
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="informatie-blok" id="indexblok">
                            <img src="~/images/home/dinner.png" />
                            <h3>Dinner in Haarlem</h3>
                            <p>
                                If you like food then Dinner in Haarlem will be something you like. With special menus in eight different restaurants, all located in the city center.
                            </p>
                            <button><a href="dinner.html">More info</a></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="informatie-blok" id="indexblok">
                            <img src="~/images/home/talking.png" />
                            <h3>Talking Haarlem</h3>
                            <p>
                                Haarlem of course, has and had some famous citizens. In a three night special three famous ex-citizens will talk in Dutch about their experience in Haarlem and the impact it had/has on their careers.
                            </p>
                            <button>More info</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="informatie-blok" id="indexblok">
                            <img src="~/images/home/historic.png" />
                            <h3>Historic Haarlem</h3>
                            <p>
                                If you are interested in history then the historic tour is something for you! In this tour you will walk through the ages and visit the most interesting and beautiful locations in Haarlem.
                            </p>
                            <button><a href="historic.html">More info</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div id="intro">
                        <div class="row">
                            <div class="col-md-9">
                                <h2>Welcome to the website of Haarlem Filmfestival</h2>
                                <p>The Haarlem Festival offers multiple different events to a broad public, there is something to do for everyone. The festival takes place between 27 July and 29 July (2018), and will be held every year.</p>
                                <p>See the event pages for more information about what you can expect on the festival.</p>
                                <p>We hope to see you soon!</p>
                            </div>
                            <div class="col-md-3">
                                <img src="~/images/home/poort.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>